* {
   margin: 0;
   padding: 0; 
}


body {
	font-family: 'Poppins', sans-serif
}

/* Banners section */
main > section:nth-of-type(1){
    margin-top: -10em;
}

.slideshow{
    position: relative;
}


nav ul li a {
	text-decoration: none;
	padding: 8px 16px;
	display: block;
	transition: 0.3s;
	color: white;
}

   nav ul li a:hover {
	text-decoration: underline;
   }

   section a {
	display: block; 
	width: 150px; 
	height: 60px;
	padding: 20px;
	margin: 10px; 
	text-decoration: none;
	text-align: center; 
	line-height: 20px; 
	color: black;
	background-color: white;
	position: absolute;
	bottom: 0rem;
	left: 50%;
	transform: translate(-50%);
   }

	main section {
	position: relative;
}

main ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

main section:nth-of-type(3) {
    display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 5em;
	padding: 4%;
	margin: 40px;
}

main section:nth-of-type(3) p {
	width: 50dvw;
	text-align: start;
}

main section:nth-of-type(3) h2 {
	width: 40dvw;
}