* {

    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif
}

img {
    max-width: 25em;
    height: auto;
}
    
header img{
    max-width: 15em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: 0.3s;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

main ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

main section {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

main section img {
    width: 50em;
}

main section p {
    width: 20em;
}