* {

    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif
}

img {
    max-width: 25em;
    height: auto;
}
    
header img{
    max-width: 15em;
}


nav ul li a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    transition: 0.3s;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

main ul {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

main section {
    display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 5em;
	padding: 4%;
	margin: 40px;
    
}

main section h2 {
    width: 40dvw;
}

main section p {
    width: 50dvw;
    text-align: start;
}