/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
    --clr-dark--: black;
    --clr-light: white;

}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img{
    width: 100%;
}

video{
    width: 100%;
}

/* Header */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 2em;
    margin: 0;
    color: white;
}

header svg{
    fill: #fff;
    width: 100%;
    max-width: 10rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    
}

.img-nav{
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5em;
    padding: 3em;
    width: 100%;
    text-align: baseline;
    list-style-type: none;
}

footer h3 {
    text-align: baseline;
    text-transform: uppercase;
}

footer section li {
    text-transform: uppercase;
}

footer p {
    text-align: start;
}

/* Afbeelding */
ul li {
    margin-top: 1em;
    list-style: none;
}

ul li button {
        position: relative;
        padding: 10px 20px;
        margin: 2em 2em 2em 13em;
        border: 0.1em solid black;
        background-color: white;
        cursor: pointer;
        overflow: hidden;
      }


li p {
    text-align: center;
}

h2, p {
    font-size: small;
    text-align: center;

}

/* DARK/LIGHT MODE */

@media (preference-color-scheme:light){
    body{
          background-color: white;
    h1{
          color: black;
    }
    }
}
    @media (preference-color-scheme:dark){
    body{
          background-color: balck;
    h1{
          color: white;
    }
    }
}