/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;


}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

    footer img{
        width: 20%;
        height: 15%;
        padding-top: var(--grootte1em);
    }

    footer article p{
        padding-left: var(--grootte1em);
        margin: 0;
    }

    footer article:nth-of-type(2){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
	}