/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img{
    width: 100%;
}

video{
    width: 100%;
}

/* Header */
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 2em;
    margin: 0;
}

header img{
    width: 10em;
}

/* Banners section */
main > section:nth-of-type(1){
    margin-top: -10em;
}

/* Footer */
footer {
    display: flex;
    margin-top: 100%;
    width: 100%;
    padding: 100px 15%;
    background-color:pink;
    text-align: center;
}